@import "./partials/colores";


main{

    background-image: url(../../../assets/img/background_home_acercaDeNosotros.jpg);
    background-size:cover;

        h2.nosotros{
            font-size: 3rem;
            text-align: center;
            padding: 5rem;
            color:  #2d6a4fff;
            text-shadow: 0px 0px 9px;
        }

        section.bubbles{
            ul{
                @include flex-standard;
                margin: 1rem;
                list-style-type: none;
                flex-wrap: wrap;

                    li{
                        @include flex-standard;
                        margin: 0 3% 3% 3%;
                        padding: 7.5rem;
                        flex-direction: column;
                        border: solid 1px black;
                        border-radius:50%;
                        width: 8rem;
                        height: 8rem;

                        &.bubbleOne{
                            background-color: map-get($bubbles, colorA);
                                &:hover{
                                    animation: map-get($bubbles, animated);
                                }
                        }

                        &.bubbleTwo{
                            @extend.bubbleOne;
                            background-color: map-get($bubbles, colorB);
                        }

                        &.bubbleThree{
                            @extend.bubbleOne;
                        }

                        &.bubbleFour{
                            @extend.bubbleTwo;
                        }

                                span{
                                    width: 8rem;
                                    

                                &.spanNumber{
                                    font-size: 2rem;
                                    font-weight: 700;
                                }}

                    }
            }
        }

        section.nosotros{
            @include flex-standard;
            flex-direction: column;
            font-size: 1.2rem;
            font-weight: 700;

            article{
                @include flex-standard;
                margin: 2% 10%;

                &.articleOne 
                img {
                width: 50%;
                padding: 2%;
                }
        
                &.articleTwo
                img {
                width: 50%;
                padding: 2%;
                }
            }

                div.articleText{
                    text-align: justify;
                }

                p{
                    border-radius: 25px;
                    padding: 25px;
                
                &:hover{
                    background-color: $green1;
                }
                }
        }
    }


//mapas

$parrafos:(
    nosotros1: $green2,
    nosotros2: $green3,
    nosotros3: $green4,
    nosotros4: $green5
);

@each $parrafo, $color in $parrafos{
    .#{$parrafo}{
        background-color: $color;
    }
};

$bubbles:(
    colorA: $green1,
    colorB: $green2,
    animated: rotation 3s 1
);

//mixin

@mixin flex-standard{
    display: flex;
    justify-content: center;
    align-items: center;
}
