<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Alquiler temporario de nuestra casa, para hasta 10 personas, en Santa Rosa de Calamuchita, provincia de Córdoba">
    <meta name="keywords" content="ALQUILER, TEMPORAL, CASA, VACACIONES, CALAMUCHITA, CORDOBA, VERANO, SIERRAS, DESCANSO, FAMILIAR">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="icon" href="../assets/logo.jpg">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/acerca_de_nosotros.css">
    <title>Acerca de nosotros</title>
</head>
<body>
    <header>
        <h1>Acerca de nosotros</h1>
        <a href="../index.html">
            <img src="../assets/logo.jpg" alt="Logo">
        </a>
        <nav>
            <ul>
                <a href="../index.html"><li>Inicio</li></a>
                <a href="acerca_de_nosotros.html"><li>Acerca de nosotros</li></a>
                <a href="galeria.html"><li>Galería</li></a>
                <a href="entorno_y_actividades.html"><li>Entorno y actividades</li></a>
                <a href="reservas.html"><li>Reservas</li></a>
                <a href="contactanos.html"><li>Contactanos</li></a>
            </ul>
        </nav>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-bars"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <a href="../index.html" class="dropdown-item">Inicio</a>
                </li>
                <li>
                    <a href="acerca_de_nosotros.html" class="dropdown-item">Acerca de nosotros</a>
                </li>
                <li>
                    <a href="galeria.html" class="dropdown-item">Galería</a>
                </li>
                <li>
                    <a href="entorno_y_actividades.html" class="dropdown-item">Entorno y actividades</a>
                </li>
                <li>
                    <a href="reservas.html" class="dropdown-item">Reservas</a>
                </li>
                <li>
                    <a href="contactanos.html" class="dropdown-item">Contactanos</a>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <h2 class="nosotros">Acerca de nosotros</h2>
        <section class="bubbles">
            <ul>
                <li class="bubbleOne">
                    <span class="spanNumber">+10</span>
                    <span class="spanText">servicios para tu comodidad</span>
                </li>

                <li class="bubbleTwo">
                    <span class="spanNumber">+20</span>
                    <span class="spanText">familias nos visitan por año</span>
                </li>

                <li class="bubbleThree">
                    <span class="spanNumber">+30</span>
                    <span class="spanText">años junto a nuestros clientes</span>
                </li>

                <li class="bubbleFour">
                    <span class="spanNumber">+40 </span>
                    <span class="spanText">actividades cercanas para disfrutar</span>
                </li>
            </ul>
        </section>

        <section class="nosotros">  
            <article class="articleOne">
                <div class="articleText">
                <p class="nosotros1">Hace más de 30 años, nos dedicamos al alquiler de nuestra casa temporada tras temporada. Inicialmente, la casa fue construida con fines turísticos, y con el paso del tiempo y el crecimiento de la afluencia de visitantes al valle, fuimos ampliando y renovando sus instalaciones, para ofrecer a nuestros visitantes y amigos la mayor comodidad y el mejor servicio.</p>
                <p class="nosotros2">Año a año, decenas de familias nos eligen, y hemos formado con cada una ellas lazos de amistad que perduran hasta el día de hoy. Realmente amamos lo que hacemos y nos llena de felicidad saber que nuestros inquilinos se van felices y renovados al finalizar sus estadías.</p>
                </div>
                <img class="flip-in-diag-2-br"  src="../assets/img/placeholder1.jpg" alt="">
            </article>
            <article class="articleTwo">
                <img class="flip-in-diag-2-br"  src="../assets/img/placeholder2.jpg" alt="">
                <div class="articleText">
                <p class="nosotros3">Nuestro objetivo es que las expectativas de las familias que nos visiten puedan ser superadas, ofreciéndoles no sólo un alojamiento cómodo y que se encuentra cerca del centro y los principales balnearios de la localidad, sino también asistiéndolos en todo lo referente a información turística, excursiones, destinos cercanos a visitar y recomendaciones gastronómicas, para que su experiencia sea completa e inolvidable.</p>
                <p class="nosotros4">Este año, más que nunca, los esperamos con todo el amor del mundo y, de antemano, les agradecemos enormemente por confiar en nosotros.</p>
                </div>
            </article>
        </section> 

    <a href="https://api.whatsapp.com/send?phone=+5493546528237" target="__blank">
        <button class="btn__fijo">
            <i class="fab fa-whatsapp-square"></i>
            <span> Escribinos por WhatsApp</span>
        </button>
    </a>

    </main>
    <footer>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3380.848234117591!2d-64.54040108431425!3d-32.07335333554515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95d2bb5006eaef15%3A0x8422c633f4d05fb2!2sMalvinas%20Argentinas%20189%2C%20Santa%20Rosa%20de%20Calamuchita%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1637723912207!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="footer__media">
            <a href="#">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://api.whatsapp.com/send?phone=+5493546528237" target="__blank">
                <i class="fab fa-whatsapp-square"></i>
            </a>
        </div>
        <div class="footer__datos">   
            <span>La Casa de Lili</span>
            <span>Malvinas Argentinas 189, Santa Rosa de Calamuchita, Córdoba, C.P. 5196</span>
            <span>Teléfono: 03546 - 420715</span>
        </div>
    </footer>
</body>
</html>